data/daily_average_temperature-20250512T121859Z-001.zip
data/gdf_landuse.gpkg
data/lai_full-20250512T121859Z-005.zip
data/0_1_degree/ndvi_daily_2000_2022.nc
data/0_1_degree/net_radiation_2000_2022.nc
data/0_1_degree/precipitation_2000_2022.nc
data/0_1_degree/temperature_2000_2022.nc
data/bentfeld/ndvi.nc
data/bentfeld/precipitation.nc
data/bentfeld/radiation.nc
data/bentfeld/temperature.nc
data/catchments/GRDC-Daily.nc
data/catchments/stationbasins.geojson
data/daily_average_temperature/t2m_mean.daily.calc.era5.0d50_CentralEurope.2000.nc
data/daily_average_temperature/t2m_mean.daily.calc.era5.0d50_CentralEurope.2001.nc
data/daily_average_temperature/t2m_mean.daily.calc.era5.0d50_CentralEurope.2002.nc
data/daily_average_temperature/t2m_mean.daily.calc.era5.0d50_CentralEurope.2003.nc
data/daily_average_temperature/t2m_mean.daily.calc.era5.0d50_CentralEurope.2004.nc
data/daily_average_temperature/t2m_mean.daily.calc.era5.0d50_CentralEurope.2005.nc
data/daily_average_temperature/t2m_mean.daily.calc.era5.0d50_CentralEurope.2006.nc
data/daily_average_temperature/t2m_mean.daily.calc.era5.0d50_CentralEurope.2007.nc
data/daily_average_temperature/t2m_mean.daily.calc.era5.0d50_CentralEurope.2008.nc
data/daily_average_temperature/t2m_mean.daily.calc.era5.0d50_CentralEurope.2009.nc
data/daily_average_temperature/t2m_mean.daily.calc.era5.0d50_CentralEurope.2010.nc
data/daily_average_temperature/t2m_mean.daily.calc.era5.0d50_CentralEurope.2011.nc
data/daily_average_temperature/t2m_mean.daily.calc.era5.0d50_CentralEurope.2012.nc
data/daily_average_temperature/t2m_mean.daily.calc.era5.0d50_CentralEurope.2013.nc
data/daily_average_temperature/t2m_mean.daily.calc.era5.0d50_CentralEurope.2014.nc
data/daily_average_temperature/t2m_mean.daily.calc.era5.0d50_CentralEurope.2015.nc
data/daily_average_temperature/t2m_mean.daily.calc.era5.0d50_CentralEurope.2016.nc
data/daily_average_temperature/t2m_mean.daily.calc.era5.0d50_CentralEurope.2017.nc
data/daily_average_temperature/t2m_mean.daily.calc.era5.0d50_CentralEurope.2018.nc
data/daily_average_temperature/t2m_mean.daily.calc.era5.0d50_CentralEurope.2019.nc
data/daily_average_temperature/t2m_mean.daily.calc.era5.0d50_CentralEurope.2020.nc
data/daily_average_temperature/t2m_mean.daily.calc.era5.0d50_CentralEurope.2021.nc
data/daily_average_temperature/t2m_mean.daily.calc.era5.0d50_CentralEurope.2022.nc
data/daily_average_temperature/t2m_mean.daily.calc.era5.0d50_CentralEurope.2023.nc
data/lai_full/2008_lai.nc
data/net_radiation/nr.daily.calc.era5.0d50_CentralEurope.2000.nc
data/net_radiation/nr.daily.calc.era5.0d50_CentralEurope.2001.nc
data/net_radiation/nr.daily.calc.era5.0d50_CentralEurope.2002.nc
data/net_radiation/nr.daily.calc.era5.0d50_CentralEurope.2003.nc
data/net_radiation/nr.daily.calc.era5.0d50_CentralEurope.2004.nc
data/net_radiation/nr.daily.calc.era5.0d50_CentralEurope.2005.nc
data/net_radiation/nr.daily.calc.era5.0d50_CentralEurope.2006.nc
data/net_radiation/nr.daily.calc.era5.0d50_CentralEurope.2007.nc
data/net_radiation/nr.daily.calc.era5.0d50_CentralEurope.2008.nc
data/net_radiation/nr.daily.calc.era5.0d50_CentralEurope.2009.nc
data/net_radiation/nr.daily.calc.era5.0d50_CentralEurope.2010.nc
data/net_radiation/nr.daily.calc.era5.0d50_CentralEurope.2011.nc
data/net_radiation/nr.daily.calc.era5.0d50_CentralEurope.2012.nc
data/net_radiation/nr.daily.calc.era5.0d50_CentralEurope.2013.nc
data/net_radiation/nr.daily.calc.era5.0d50_CentralEurope.2014.nc
data/net_radiation/nr.daily.calc.era5.0d50_CentralEurope.2015.nc
data/net_radiation/nr.daily.calc.era5.0d50_CentralEurope.2016.nc
data/net_radiation/nr.daily.calc.era5.0d50_CentralEurope.2017.nc
data/net_radiation/nr.daily.calc.era5.0d50_CentralEurope.2018.nc
data/net_radiation/nr.daily.calc.era5.0d50_CentralEurope.2019.nc
data/net_radiation/nr.daily.calc.era5.0d50_CentralEurope.2020.nc
data/net_radiation/nr.daily.calc.era5.0d50_CentralEurope.2021.nc
data/net_radiation/nr.daily.calc.era5.0d50_CentralEurope.2022.nc
data/net_radiation/nr.daily.calc.era5.0d50_CentralEurope.2023.nc
data/total_precipitation/tp.daily.calc.era5.0d50_CentralEurope.2000.nc
data/total_precipitation/tp.daily.calc.era5.0d50_CentralEurope.2001.nc
data/total_precipitation/tp.daily.calc.era5.0d50_CentralEurope.2002.nc
data/total_precipitation/tp.daily.calc.era5.0d50_CentralEurope.2003.nc
data/total_precipitation/tp.daily.calc.era5.0d50_CentralEurope.2004.nc
data/total_precipitation/tp.daily.calc.era5.0d50_CentralEurope.2005.nc
data/total_precipitation/tp.daily.calc.era5.0d50_CentralEurope.2006.nc
data/total_precipitation/tp.daily.calc.era5.0d50_CentralEurope.2007.nc
data/total_precipitation/tp.daily.calc.era5.0d50_CentralEurope.2008.nc
data/total_precipitation/tp.daily.calc.era5.0d50_CentralEurope.2009.nc
data/total_precipitation/tp.daily.calc.era5.0d50_CentralEurope.2010.nc
data/total_precipitation/tp.daily.calc.era5.0d50_CentralEurope.2011.nc
data/total_precipitation/tp.daily.calc.era5.0d50_CentralEurope.2012.nc
data/total_precipitation/tp.daily.calc.era5.0d50_CentralEurope.2013.nc
data/total_precipitation/tp.daily.calc.era5.0d50_CentralEurope.2014.nc
data/total_precipitation/tp.daily.calc.era5.0d50_CentralEurope.2015.nc
data/total_precipitation/tp.daily.calc.era5.0d50_CentralEurope.2016.nc
data/total_precipitation/tp.daily.calc.era5.0d50_CentralEurope.2017.nc
data/total_precipitation/tp.daily.calc.era5.0d50_CentralEurope.2018.nc
data/total_precipitation/tp.daily.calc.era5.0d50_CentralEurope.2019.nc
data/total_precipitation/tp.daily.calc.era5.0d50_CentralEurope.2020.nc
data/total_precipitation/tp.daily.calc.era5.0d50_CentralEurope.2021.nc
data/total_precipitation/tp.daily.calc.era5.0d50_CentralEurope.2022.nc
data/total_precipitation/tp.daily.calc.era5.0d50_CentralEurope.2023.nc
